<mat-table #table class="example-list" [dataSource]="state()" cdkDropList
           (cdkDropListDropped)="drop(
                table,
                $event.item.data.name,
                $event.currentIndex
           )"
           cdkDropListData="dataSource"
           [trackBy]="trackByName"
>
    <ng-container matColumnDef="position" sticky>
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell class="handle" cdkDragHandle *matCellDef="let element">
            <mat-icon class="example-drag-cursor">reorder</mat-icon>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="courtIndex">
        <mat-header-cell *matHeaderCellDef>Court</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.courtIndex }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="playerIndex">
        <mat-header-cell *matHeaderCellDef>No.</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.playerIndex }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="matchups">
        <mat-header-cell *matHeaderCellDef>Matchups</mat-header-cell>
        <mat-cell *matCellDef="let element">
            <div>
                @for (text of getMatchupsTexts(element); track text) {
                    <div>{{ text }}</div>
                }
            </div>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="example-box" *matRowDef="let row; columns: displayedColumns;" cdkDrag [cdkDragData]="row"></mat-row>
</mat-table>