<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
        <mat-form-field>
            <mat-label>Add players, one per line</mat-label>
            <textarea matInput cdkTextareaAutosize [formControl]="getControl('names')"></textarea>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Minimum games each?</mat-label>
            <input matInput [formControl]="getControl('minGames')">
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>How many courts?</mat-label>
            <input matInput [formControl]="getControl('courtCount')">
        </mat-form-field>
    </div>
    <div>
        <mat-checkbox [formControl]="getControl('shuffle')">Shuffle names</mat-checkbox>
    </div>
    <button matButton="filled" type="submit" [disabled]="!form.valid">Submit</button>
</form>
@if (state()?.map; as map) {
    <pre>{{ map | json }}</pre>
} @else if (state()?.error; as error) {
    {{ error }}
} @else if (state()) {
    Loading...
}
