.mat-mdc-tab-group {
  padding: 0 8px;
  height: 100%;
}

::ng-deep .mat-mdc-tab-body-wrapper {
  height: 100%;
}

.fill-players-field {
  width: 400px;
}

.mat-mdc-form-field {
  width: 100%;
}

.form-wrapper {
  padding: 12px;
}